:root {
  --nav-color-alpha: rgba(0, 0, 0, 0.5);
  --text-color: #555;
  --text-color-emphasis: #333;
  --primary-color: #e81c4f;
}
* {
  box-sizing: border-box;
}
html {
  font-family: helvetica, sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 4rem;
  color: var(--text-color);
  margin: 0 auto;
  line-height: 1.5;
  padding: 0.5em;
}
h1,
h2,
strong {
  color: var(--text-color-emphasis);
}
a {
  color: var(--primary-color);
}
div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
p {
  max-width: 50em;
}
nav {
  font-size: 2rem;
}
