:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--Light-gray);
    font-family: 'Dongle', sans-serif;
    font-size: 26px;
    line-height: 1.5rem;
    text-align: center;
}
h1 {
    color: var(--Dark-blue);
    padding: 5px;
}
p {
    color: var(--Grayish-blue);
    font-size: 26px;
    line-height: 1rem;
    padding: 5px;
}
.card-image {
    padding: 8px;
}
img {
    border-radius: 15px;
    width: 290px;
    height: 290px;
}
.container {
    width:500px;
    height:500px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-160px;
    margin-top:-250px;
    max-width: fit-content;
}
.card {
    background-color: var(--White);
    width: 320px;
    height: 500px;
    border-radius: 15px;
    padding: 0.5rem;  
}
footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: block;
}