:root {
    --text-color: hsl(215, 51%, 70%);
    --active-color: hsl(178, 100%, 50%);
    --active-color-alpha: hsl(178, 100%, 50%, 0.6);
    --accent-color: hsl(0, 0%, 100%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

/* global styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

/* typography */

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 300;
}

a:link,
a:visited,
a:hover,
a:visited {
    text-decoration: none;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--active-color);
}

.currency {
    color: var(--active-color);
    
}

.nft-info {
    font-size: 1rem;
}

/* layout */

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: var(--main-bg);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    background: var(--card-bg);
    border-radius: 15px;
    max-width: 35ch;
    margin: 1.5rem;
}

.card-content {
    padding: 1.5em;
}

.card-info {
    position: relative;
}

.card-info::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background: var(--line);
}

/*layout for currency and time container*/

.number-box {
    justify-content: space-between;
}

.currency,
.time {
    width:fit-content;
}

.icon {
    width: 1.5rem;
    padding: 0.25rem;  
}

/*layout for attribution area*/

.attribution {
    gap: 0.5rem;
}
.avatar {
    width: 2rem;
    padding: 0.1rem;
    background-color: var(--accent-color);
    border-radius: 50px;
}

/*cover image set up for hover states*/

.cover-image {
    border-radius: 15px;
    width: 100%;
    height: auto;
    vertical-align: top;
}

/*hover state for card image*/

/*so the below hover elements are relative to the parent*/

.card-image:hover {
    position: relative;
    
}

/*so that the two elements can be positioned outside normal document flow to layer them*/

.card-image::after,
.card-image::before {
    position: absolute;
}

/*after psuedo to create semi-transparent background on hover*/

.card-image:hover:after {
    content: "";
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--active-color-alpha);
    border-radius: 15px;
}

/*before psuedo to position svg*/

.card-image:hover:before {
    content: url("./images/icon-view.svg");
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}