:root {
    --text-color: hsl(215, 51%, 70%);
    --active-color: hsl(178, 100%, 50%);
    --accent-color: hsl(0, 0%, 100%);
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

/* global styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

/* typography */

body {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    color: var(--text-color);
    line-height: 1.5;
    font-weight: 300;
}

a:link,
a:visited,
a:hover,
a:visited {
    text-decoration: none;
}

a {
    color: var(--accent-color);
}

a:hover {
    color: var(--active-color);
}

.card-image:hover {/*unsure how to apply the svg hover state for the image*/
    background-color: var(--active-color);
}

.currency {
    color: var(--active-color);
    
}

.nft-info {
    font-size: 1rem;
}

/* layout */

body {
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: var(--main-bg);
}

img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.card {
    background: var(--card-bg);
    border-radius: 15px;
    max-width: 35ch;
}

.card-content {
    padding: 1.5em;
}

.card-info {
    position: relative;
}

.card-info::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: -0.5rem;
    width: 100%;
    background: var(--line);
}